header {
    width: calc(100% - 25px);
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 25px;
    z-index: 100;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hiddennav {
    width: 80%;
    display: flex;
    align-items: center;
}

header nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: white;
    transition: .3s;
}

header nav a:hover {
    color: #FF7A2F;

}


.header__logo img {
    width: 66px;
    height: 39px;
}

.burger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 24px;
    z-index: 12;
}

.burger div {
    width: 30px;
    height: 1px;
    background-color: #FFFFFF;
    border: .1px solid #FFFFFF;
    margin: 5px;
    transition: all .3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
    transform: translate(-50px, 0);
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.header__logo {
    display: flex;
    align-items: center;
}

.msg-radio {
    list-style-type: none;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.msg-radio li label {
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* margin-left: 7px;
    margin-right: 7px; */
    margin-left: 30px;
    margin-right: 10px;
}

.msg-radio li {
    display: inline;
}

.msg-intext {
    width: 262px;
    height: 25px;
    margin-top: 5px;
    margin-left: 18px;
    margin-bottom: 5px;
    border: 1px solid #aaa;
    background: #eee;
    font-size: 16px;
}

.msg-ok {
    border-radius: 5px;
    background: #777;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.msg-ok:hover {
    background: #555;
}

li.active {
    color: #FFBC00;
}

.rr {
    display: none
}

.lang_select {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.lng-li:before, .lng-li:after {
    position: absolute;
    content: '';
    top: 45%;
    width: 0;
    height: 1px;
    background: #aeb3c2;
}

.s_li::before{
    display: none;
}

.l_li::after{
    display: none;
}

.s_li::after{
    width: 20px;
}

.l_li::before{
    width: 10px;
}

.l_li::before {
    width: 12px;
    left: 9px;
}

li.active::before{
    background: #FFBC00;
}

li.active::after{
    background: #FFBC00;
}

.msg-radio li{
    position: relative;
}

.m_li::after {
    width: 12px;
    left: 70px;
}

.m_li::before {
    left: 10px;
    width: 12px;
}

.s_li::after {
    width: 10px;
}

.hiddennav .freewbtn{
    display: none;
}

@keyframes navLinkFade {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(-50px);
    }
}

@keyframes navLinkShow {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}