@media screen and (max-width: 1030px) {


    /*cancel.css*/
    .container {
        /* width: 316px; */
        width: 685px;
    }


    .btn {
        /* font-size: 12px;
        padding: 13px 25px; */
        font-size: 19px;
        padding: 25px 50px;
    }

    /*header*/
    header {
        height: 106px;
        width: 100%;
        padding-top: 10px;
        padding-left: 0;
        align-items: center;
    }

    .header__logo {
        width: 100%;
        position: relative;
        z-index: 11;
    }

    .hiddennav {
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 0;
        right: 0;
        height: 100vh;
        overflow: hidden;
        pointer-events: none;
    }

    header nav {
        background-color: #18181c;
        backdrop-filter: blur(1500px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
        position: absolute;
        top: 0;
        left: 0;
    }

    header nav a {
        opacity: 0;
        text-align: center;
        font-size: 16px;
        margin-top: 25px;
    }

    .hiddennav.active nav {
        transform: translateX(0%);
    }

    .hiddennav.active {
        pointer-events: auto;
    }


    .burger {
        display: block;
    }

    .titletext {
        font-weight: 600;
        /* font-size: 55px;
        line-height: 55px; */
        font-size: 66px;
        line-height: 73px;
    }

    #infoprogram .titletext{
        text-align: center;
    }

    .anim.show{
        margin: auto;
        margin-top: 62px;
    }

    #rocket .block{
        margin: auto;
        margin-bottom: 132px;
    }

    .bodytext {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    #line {
        height: 1250px;
        padding: 10px;
        width: calc(95% - 50px);
    }

    #line .blocks {
        flex-direction: column;
        width: 100%;
    }

    #line .block {
        margin: 0;
        padding-left: 15px;
        margin-bottom: 50px;
        width: auto;
        height: auto;
    }

    #exp {
        margin-top: 0px;
        height: auto;
    }

    #exp .container {
        flex-direction: column;
    }

    #lineblocks {
        flex-direction: column;
        height: auto;
    }

    #exp img {
        max-width: 100%;
        height: auto;
        margin-top: -115px;
    }

    #lineblocks .container {
        flex-direction: column;
    }

    #exp .bodytext {
        font-size: 14px;
    }

    #rocket {
        margin-top: 79px;
    }

    #rocket .container {
        grid-template-columns: repeat(1, 1fr);
    }

    #rocket .blocks {
        height: auto;
    }

    #bookscreen .block {
        flex-direction: column;
    }

    #bookscreen h1 {
        font-size: 25px;
        line-height: 37px;
        text-align: center;
    }

    .btnshadow {
        margin-top: 69px;
    }

    #rocket .block {
        padding: 0;
    }

    #rocket .block p {
        font-size: 14px;
        width: 90%;
        margin: auto;
    }

    .secondtitle {
        font-size: 60px;
        line-height: 80px;
    }

    #results .blocks {
        margin-top: 80px;
        grid-template-columns: 1fr;
        grid-gap: 70px;
    }

    #results .block {
        width: 100%;
    }

    .accordion_c h1 {
        font-weight: 700;
        font-size: 60px;
        line-height: 82px;
    }

    .answer_title {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
    }

    .acc_arrea_answer {
        padding: 20px;
        padding-bottom: 30px;
    }

    .answer_title:before,
    .answer_title::after {
        /* top: 111%;
        margin-right: 40%; */
        top: 122%;
        margin-right: 47%;
    }

    .acc_answer_arrea {
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        margin-left: 20px;
        margin-top: 25px;
    }

    footer {
        height: 295px;
    }

    .f_logo img {
        width: 64px;
    }

    .s-m-logo {
        display: none;
    }

    .f_links {
        display: none;
    }

    .f_cont {
        flex-direction: column;
    }

    .m_imgs {
        justify-content: space-around;
    }

    .f_cont {
        padding-top: 0px;
    }

    .f_cont h4 {
        text-align: start;
        font-size: 15px;
    }

    .cards {
        flex-direction: column;
    }

    .card .btn {
        padding: 24px 61px;
    }

    .card {
        margin-bottom: 55px;
    }

    #teachscreen {
        height: auto;
    }

    #teachscreen .container {
        flex-direction: column;
    }

    #teachscreen .bodytext {
        font-size: 14px;
    }


    .tabsblocks {
        padding: 0;
    }

    .tab {
        border-radius: 20px;
    }

    .tabcontent {
        width: auto;
        font-family: 'Montserrat';
        font-style: normal;
        height: auto;
        margin-left: 0;
        animation: blinker 0.8s ease;
        background: #101010;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 17px 22px 39px rgb(0 0 0 / 25%), inset 0px 0px 58px rgb(255 255 255 / 10%);
        border-radius: 20px;
        position: initial;
        padding: 18px 10px;
    }

    .tabcontent img {
        margin-top: 0;
        max-width: 100%;
    }

    .prlxoff ul {
        display: none;
    }

    #lineblocks .block {
        margin: auto;
    }

    #bookscreen {
         padding: 0;
    }
}

@media screen and (max-width: 624px){
    .container {
        width: 316px;
    }


    .btn {
        font-size: 12px;
        padding: 13px 25px;
    }

    .titletext {
        font-size: 55px;
        line-height: 55px;
    }

    .answer_title:before, .answer_title::after {
        top: 113%;
        margin-right: 42%;
    }
}
